span.lemma {font-style: italic;}
div.sentence div.body {padding-top: 5px !important;}
ul.semantic_domains_inline:before {content: "semantic domain: "}
span.alt-translation {color: gray}
span.vocabulary {font-variant: all-small-caps}
span.meanings-in-title {font-weight: normal !important; font-size: smaller;}
span.meanings-in-title:before { content: "\2018"; }
span.meanings-in-title:after { content: "\2019"; }
.borderless td, .borderless th {border: none;}
ol.nested { counter-reset: item }
ol.nested li { display: block }
ol.nested li:before { content: counters(item, ".") " "; counter-increment: item }
div.toc li {font-weight: bold}
figure {float: right; margin-left: 20px; max-width: 310px;}
figcaption {  font-style: italic; text-align: center; }