div.sentence-wrapper, figure.img {
  margin-top: 1em;
  margin-bottom: 0;
  width: 100%;
}
div.alt_translation {
    margin-left: 5px;
}
div.warning {
    color: #333;
    background-color: Linen;
    border: 2px solid SandyBrown;
    border-radius: 1ex;
    /*border-style: solid;*/
    /*border-color: SandyBrown;*/
    padding: 1ex;
    margin-bottom: 1ex;
}
figure.img {
    text-align: center;
    float: none;
    max-width: 100% !important;
    margin-left: 0 !important;
}
div.sentence-wrapper:after, div.table:after, figure.img:after {
    content: '';
    display: block;
    clear: both;
}
div.sentence, div.sentence-number {
    float: left;
    margin-left: 5px;
}
table caption {
    caption-side: bottom;
    text-align: left;
}
/* Data tables are just a tiny bit too wide for the tab-content div,
   which makes it scroll horizontally in Firefox. */
div.tab-content table.dataTable {
    width: 99.5%;
}
span.lemma {font-style: italic;}
ul.semantic_domains_inline:before {content: "Semantic Domain: "}
span.alt-translation {}
span.alt-translation1 {color: darkslateblue}
span.alt-translation2 {color: darkgreen}
span.vocabulary {font-variant: all-small-caps}
span.meanings-in-title {font-weight: normal !important; font-size: smaller;}
span.meanings-in-title:before { content: "\2018"; }
span.meanings-in-title:after { content: "\2019"; }
.borderless td, .borderless th {border: none;}
ol.nested { counter-reset: item }
ol.nested li { display: block }
ol.nested li:before { content: counters(item, ".") " "; counter-increment: item }
div.toc li {font-weight: bold}
figure {float: right; margin-left: 20px; max-width: 310px;}
figcaption {  font-style: italic; text-align: center; }
span.series-peerreviewed
{
    color: #000;
    background-color: #ffd700;
    padding: .5ex;
    border-color: #806c00;
    border-style: solid;
    border-width: .1ex;
    border-radius: 1ex;
}
span.series-other
{
    color: #000;
    background-color: #ccc;
    padding: .5ex;
    border-color: #888;
    border-style: solid;
    border-width: .1ex;
    border-radius: 1ex;
}
